<section class="about-me-section">
  <div class="about-me-content">
    <div class="about-image-container">
      <img src="assets/images/acercade.jpg" alt="About Me Image">
    </div>
    <div class="about-text-container">
      <h3>Acerca de mí</h3>
      <p>Soy un desarrollador Backend, especializado en la creación de sistemas robustos y escalables. Mi experiencia se centra en Spring. Me apasiona el codigo limpio y mantenible</p>
      <p>La seguridad es una de mis prioridades, y tengo experiencia práctica asegurando endpoints con JWT. Para garantizar que mis soluciones funcionen en cualquier lugar, confío en Docker para empaquetar y desplegar mis servicios de forma aislada. </p>
      <p>¡Estoy emocionado por la oportunidad de aportar mi granito de arena a un nuevo proyecto! No dudes en contactarme si crees que mi perfil encaja en tu equipo</p>

      <div class="stats-container">
        <div class="stat-item">
          <mat-icon>work</mat-icon>
          <span>Experiencia</span>
          <strong>1+ Años</strong>
        </div>
        <div class="stat-item">
          <mat-icon>code</mat-icon>
          <span>Proyectos</span>
          <strong>3+ Completados</strong>
        </div>
      </div>
    </div>
  </div>
</section>
