<mat-toolbar class="navbar" >
  <a routerLink ="/" class="logo">DC</a>

  <span class="spacer"></span><nav>
  <a mat-button routerLink="/home" fragment="home" routerLinkActive="active">Home</a>
  <a mat-button routerLink="/about" fragment="about" routerLinkActive="active">Acerca de mí</a>
  <a mat-button routerLink="/projects" fragment="projects" routerLinkActive="active">Proyectos</a>
  <a mat-button routerLink="/skills"  fragment="skills" routerLinkActive="active">Skills</a>
</nav>
  <button mat-flat-button class="hire-me-button" fragment="contact" routerLink="/contact">Hire Me</button>
</mat-toolbar>
