body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

main {
  position: relative;
  z-index: 5;
}

.hero-section, .about-me-section, .projects-section, .skills-section, .contact-section {
  position: relative;
  z-index: 6;
}


::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #0C0721;
}

::-webkit-scrollbar-thumb {
  background: #A064FF;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #FF6B6B;
}
